.home {
  width: calc(100% - 250px);
  height: 100vh;
  overflow-y: scroll;
}

.home::-webkit-scrollbar {
  display: none;
}

.img {
  border: 4px solid transparent;
  border-radius: 4px;
  width: 97%;
  height: 100%;
  box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px,
    rgb(0 0 0 / 73%) 0px 16px 10px -10px;
  transition-duration: 300ms;
  cursor: pointer;
  display: flex;
  padding: 5px;
  justify-content: center;
  place-content: center;
  place-items: center;
  position: relative;
  border-radius: 15px;
}

.img:hover {
  border: 4px solid rgba(249, 249, 249, 0.8);
}

.slider {
  width: 97%;
  place-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
  z-index: 1;
}
.slider ul li button::before {
  font-size: 10px;
  color: rgb(150, 158, 171);
}

.slider li.slick-active button:before {
  color: white;
}
.slick-list {
  overflow: visible;
}
button {
  z-index: 1;
}
