.container {
  background-color: #151424;
  height: 100%;
  width: 99%;
  display: grid;
  justify-content: center;
  place-items: center;
  margin: auto;
}

.container::-webkit-scrollbar {
  display: none;
}

.movies {
  width: 100%;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  place-items: center;
}

.movies__with__tolbar {
  width: 100%;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  place-items: flex-start;
  justify-content: space-between;
}

.poster {
  position: relative;
  object-fit: contain;
  width: 100%;
  max-width: 270px;
  margin: 20px;
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
  color: white;
}

.row__posters::-webkit-scrollbar {
  display: none;
}

.row__poster:hover {
  cursor: pointer;
}

.toolbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.toolbar__left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 20px;
}

.show__text {
  color: white;
  font-size: 20px;
  font-weight: 300;
}

.results {
  color: grey;
  font-size: 14px;
  font-weight: 400;
}

.all {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
  place-items: center;
}

.all__button {
  height: 70%;
  background-color: #1f2030;
  width: 70px;
  border: solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.15);
  text-align: center;
  display: flex;
  justify-content: center;
  place-items: center;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.all__button:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.more {
  width: 100%;
  max-width: 270px;
  margin: 20px;
  cursor: pointer;
  color: white;
  background-color: rgba(255, 255, 255, 0.15);
  height: 270px;
  display: flex;
  justify-content: center;
  place-items: center;
  border-radius: 50%;
  box-shadow: 2px 2px 2px 2px black;
  flex-direction: column;
}

.pagination {
  padding: 20px;
  margin-bottom: 10px;
}
