.container {
  width: 100%;
  background-color: #151424;
  color: white;
}

.img {
  position: relative;
  object-fit: contain;
  height: 100%;
  width: 100%;
  filter: blur(1px);
  -webkit-filter: blur(9px);
  z-index: 1;
}

.overflow {
  z-index: 2;
  position: relative;
}
