.nav {
  position: fixed;
  top: 0;
  z-index: 99;
  height: 30px;
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition-timing-function: ease-in;
  transition: all 0.5s;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  border-bottom: solid;
  border-color: grey;
  border-width: 1px;
  color: white;
}

.link {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
  margin-right: 50px;
  font-weight: 500;
  height: 100%;
}

.link__favorite {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
  font-weight: 500;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-right: 10px;
}

.active__link {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
  margin-right: 50px;
  font-weight: 500;
}

.nav__right {
  display: flex;
  align-items: center;
  width: 15%;
  justify-content: center;
  text-align: center;
  place-items: center;
}

.button {
  cursor: pointer;
}
