.nav {
  z-index: 99;
  height: auto;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition-timing-function: ease-in;
  transition: all 0.5s;
  background: linear-gradient(
    90deg,
    rgba(16, 16, 28, 1) 35%,
    rgba(21, 20, 36, 1) 100%
  );
  backdrop-filter: blur(5px);
  border-bottom: solid;
  border-color: grey;
  border-width: 1px;
  color: white;
  flex-direction: column;
}

.nav__links {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nav__avatar {
  display: flex;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  padding: 10px;
  place-items: center;
  justify-content: center;
}

.nav__genres {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.link {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
  margin-top: 10px;
  font-weight: 500;
  height: 100%;
  padding: 5px;
  border-left: 3px solid;
  border-color: transparent;
  text-align: center;
}

.link__favorite {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
  font-weight: 500;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-right: 10px;
}

.active__link {
  text-decoration: inherit;
  padding: 5px;
  color: inherit;
  cursor: pointer;
  font-weight: 500;
  background: linear-gradient(
    90deg,
    rgba(29, 29, 51, 1) 35%,
    rgba(21, 20, 36, 1) 100%
  );

  border-left: 3px solid rgba(255, 255, 255, 0.3);
}

.nav__right {
  display: flex;
  align-items: center;
  width: 15%;
  justify-content: center;
  text-align: center;
  place-items: center;
}

.button {
  cursor: pointer;
}
