.page {
  width: calc(100% - 250px);
  height: 100vh;
  overflow-y: scroll;
  position: relative;
  left: 250px;
}


.img {
  width: 200px;
  height: 250px;
  border-radius: 50%;
}

.img:hover {
  border: 4px solid rgba(249, 249, 249, 0.8);
}


